body,
html {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    background-color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typography */

body {
    font-family: 'ITC Avant Garde Gothic Std';
}

.logo {
    font-family: 'Mistral';
    font-size: 3em;
    color: #FFFFFF;
    letter-spacing: -0.001em;
    text-align: center;
    padding-left: 0.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo:link,
.logo:visited {
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
    color: #EA1F37;
}

nav a:hover,
nav a:focus {
    color: #EA1F37;
    text-decoration: none;
}

nav {
    font-family: 'ITC Avant Garde Gothic Std';
    letter-spacing: 0.17em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Navbar */

nav ul {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute;
    padding-left: 0.5em;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    padding: .4em;
    color: #FFFFFF;
    font-size: 1.2rem;
}

/* Burger Menu */

#toggle {
    visibility: hidden;
}

label,
label::before,
label::after {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #FFFFFF;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

label {
    cursor: pointer;
    top: 1.35em;
    left: 87%;
    ;
    transition: 0s;
    -webkit-transition: 0s;
}

label::before {
    content: "";
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

label::after {
    content: "";
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
}

/* Burger Menu Clicked*/

#toggle:checked+label {
    height: 0px;
    transition: 0s;
}

#toggle:checked+label::before {
    transform: rotate(45deg) translate(0px);
    -webkit-transform: rotate(45deg) translate(0px);
    background: #EA1F37;
}

#toggle:checked+label::after {
    transform: rotate(-45deg) translate(0px);
    -webkit-transform: rotate(-45deg) translate(0px);
    background: #EA1F37;
}

/* Media Queries */

/* Mobile */

@media only screen and (max-width: 750px) {
    .logo {
        font-size: 2.5em;
    }

    nav {
        display: none;
    }

    nav ul {
        z-index: 6;
        background-color: #000000;
        transform: translate(0, 20%);
    }

    nav li {
        text-align: center;
        display: block;
    }

    nav li a {
        display: block;
        margin: 0;
    }

    .footer {
        max-width: 100%;
        margin: 0;
        background-color: #000000;
    }

    .f {
        transform: translate(-90%, -34%) scale(0.1);
    }

    .i {
        transform: translate(-74%, -34%) scale(0.1);
    }

    .t {
        transform: translate(-58%, -34%) scale(0.1);
    }

    .s {
        transform: translate(-42%, -34%) scale(0.1);
    }

    .b {
        transform: translate(-26%, -34%) scale(0.1);
    }

    .y {
        transform: translate(-10%, -34%) scale(0.1);
    }

    .copyright {
        font-size: 1em;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 120px;
        padding-bottom: 20px;
    }
}

/* Wide */

@media only screen and (min-width: 751px) {

    label,
    label::before,
    label::after {
        visibility: hidden;
    }

    .footer {
        max-width: 100%;
        margin: 0;
        background-color: #000000;
    }

    .f {
        transform: translate(-90%, -35%) scale(0.1);
    }

    .i {
        transform: translate(-74%, -35%) scale(0.1);
    }

    .t {
        transform: translate(-58%, -35%) scale(0.1);
    }

    .s {
        transform: translate(-42%, -35%) scale(0.1);
    }

    .b {
        transform: translate(-26%, -35%) scale(0.1);
    }

    .y {
        transform: translate(-10%, -35%) scale(0.1);
    }

    .copyright {
        font-size: 1em;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 165px;
        padding-bottom: 25px;
    }
}

/* Body */

.bg {
    z-index: 1;
    top: 0;
    left: 0;
}

.cat {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    visibility: hidden;
}

/* Footer */

p {
    color: #EA1F37;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
    text-align: center;
    letter-spacing: 0.1em;
}

p span {
    color: #FFFFFF;
    font-style: italic;
}

.container {
    text-align: center;
}

.button {
    text-align: center;
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-accent {
    color: #FFFFFF;
    border-color: #EA1F37;
}

.button:hover,
.button:focus {
    border-color: #EA1F37;
}

.button:active {
    border-color: #EA1F37;
    background-color: #EA1F37;
    color: #FFFFFF;
}

.icon {
    position: absolute;
    cursor: pointer;
}

.icon:hover,
.icon:focus {
    filter: opacity(0.6);
}