@font-face {
    font-family: 'Mistral';
    src: url('../fonts/Mistral.eot');
    src: url('../fonts/Mistral.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mistral.woff2') format('woff2'),
        url('../fonts/Mistral.woff') format('woff'),
        url('../fonts/Mistral.ttf') format('truetype'),
        url('../fonts/Mistral.svg#Mistral') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../fonts/ITCAvantGardeStd-Md.eot');
    src: url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body, html {
    position: relative;
    left: 0;
    right: 0;
    height: 4%;
    width: 100%;
    margin: 0;
    background-color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typography */

body {
    font-family: 'ITC Avant Garde Gothic Std';
}

.logo {
    font-family: 'Mistral';
    font-size: 3em;
    color: #FFFFFF;
    letter-spacing: -0.001em;
    text-align: center;
    padding-left: 0.5em;
}

.logo:link, 
.logo:visited {
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
    color: #EA1F37;
}

nav a:hover,
nav a:focus {
    color: #EA1F37;
    text-decoration: none;
}

nav {
    font-family: 'ITC Avant Garde Gothic Std';
    letter-spacing: 0.17em;
}


/* Navbar */

nav ul {
	margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute; 
    padding-left: 0.5em;
}

nav li {
    display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .4em;
	color: #FFFFFF;
	font-size: 1.2rem;
}

/* Burger Menu */

#toggle {
    visibility: hidden;
}

label,
label::before,
label::after {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #FFFFFF;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

label {
    cursor: pointer;
    top: 1.35em;
    left: 87%;;
    transition: 0s;
    -webkit-transition: 0s;
}

label::before {
    content: "";
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

label::after {
    content: "";
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
}

/* Burger Menu Clicked*/

#toggle:checked + label {
    height: 0px;
    transition: 0s;
}

#toggle:checked + label::before {
    transform: rotate(45deg) translate(0px);
    -webkit-transform: rotate(45deg) translate(0px);
    background: #EA1F37;
}

#toggle:checked + label::after {
    transform: rotate(-45deg) translate(0px);
    -webkit-transform: rotate(-45deg) translate(0px);
    background: #EA1F37;
}

/* Media Queries */ 

/* Mobile */

@media only screen and (max-width: 750px) {
    .logo {
        font-size: 2.5em;
    }

    nav {
        display: none;
    }

    nav ul {
        z-index: 6;
        background-color: #000000;
        transform: translate(0, 20%);
    }
    
    nav li {
        text-align: center;
        display: block;
    }
    
    nav li a {
        display: block;
        margin: 0;
    }

    .footer {
        height: 40%;
    }
    
    .cat {
        transform: translate(-50%, 68%) scale(0.6);
    }
}

/* Wide */

@media only screen and (min-width: 750px) {
    label, 
    label::before,
    label::after {
        visibility: hidden;
    }

    .footer {
        height: 40%;
    }

    .cat {
        transform: translate(-50%, 13%) scale(0.6);
    }
}

/* @media only screen and (1700 - 1400, 1400 - 750) {
    .cat {
        transform: translate(-50%, 13%) scale(0.6);
    }
} */

/* Body */

.bg {
    z-index: 1;
    top: 0;
    left: 0;
}

.cat {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
}

/* Footer */ 

.footer {
    max-width: 100%;
    margin: 0 0 0 0;
    background-color: #000000;
    height: 400px;
}

p {
    color: #EA1F37;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
    text-align: center;
    letter-spacing: 0.1em;
}

p span {
    color: #FFFFFF;
    font-style: italic;
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-accent {
    color: #EA1F37;
    border-color: #EA1F37;;
}

.button:hover, 
.button:focus {
    color: #fd475d;
    border-color: #fd475d;
}

.icon {
    position: absolute;
    cursor: pointer;
}

.icon:hover,
.icon:focus {
    filter: opacity(0.6);
}

.twitter {
    transform: translate(-70%, -14%) scale(0.12);
}

.facebook {
    transform: translate(-50%, -14%) scale(0.12);
}

.instagram {
    transform: translate(-30%, -14%) scale(0.12);
}

.youtube {
    transform: translate(-70%, -34%) scale(0.12);
}

.spotify {
    transform: translate(-50%, -34%) scale(0.12);
}

.bandcamp {
    transform: translate(-30%, -34%) scale(0.12);
}

.copyright {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.empty {
    height: 60%;
}
